@charset "utf-8";

header {
  text-align: center;
}
.icon {
  width: 270px;
  height: 270px;
}
body {
  background-color: white;
}
#applicationIcon {
  justify-content: center;
}

.btn {
  padding: 20px 150px;
  background: #eee0cc;
  color: black;
}

.link-button {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  padding: 4px;
  height: 3em;
  font-size: 30px;
  align-items: center;
}

.link-button span {
  flex-grow: 1;
}

.instagram {
  width: 270px;
  height: 270px;
}

#icon {
  font-size: 25px;
}

#YouTube {
}
